.navbar-nav {
    color: white !important;
}

.m-head {
    margin-top: 100px;
}

.end {
    margin-top: 10px;
    margin-bottom: 5rem;
}

.pad-around {
    padding: 1rem;
}

.bg-dark {
    background-color: #262626 !important;
    color: #ACBFA4 !important;
}

.photo-right {
    margin-top: 70px;
}

.pad-down {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.top-head {
    background-color: #ACBFA4;
    color: #262626;
    padding: 6rem;
    font-size: 10rem !important;

}

.bord {
    outline: 1px solid #262626;
}

.march-around {
    margin: 1.5rem;
}